.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: auto; 
    padding: 10px; 
    box-sizing: border-box;
    background-color: #f5f5f5;
}
  
.hero-main-image img {
    width: 100%;
    height: auto; 
    object-fit: cover;
    border-radius: 10px; 

}
